<div class="jumbotron center landing-custom">
  <p><strong>Friends with Budgets</strong> is a way to track your expenses and see how they compare to your friends. Simple infographics display what you're spending your money on and which expenses your friends think are reasonable.

  <span>Built with ♥ by 
      <a href="https://twitter.com/loganhasson" target="_blank">@loganhasson</a> and 
      <a href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a> at the <a target="_blank" href="http://flatironschool.com/">Flatiron School</a>.
  </span>

</div>