<div class="jumbotron center landing-custom">
  Logan Hasson: <a href="https://twitter.com/loganhasson" target="_blank">@loganhasson</a><br>
  Amanda Himmelstoss: <a href="https://twitter.com/ahimmelstoss" target="_blank">@ahimmelstoss</a>
</div>