<div class="jumbotron center landing-custom">
  <p><strong>BudgetApp</strong> is a way to track your expenses and see how they compare to your friends. Simple infographics display what you're spending your money on and which expenses your friends think are reasonable. Log in with Facebook to get started!</p>
<br>
  <div class="login-button-div">
  <%= link_to 'Log in with Facebook', facebook_login_path, class: "btn btn-lg btn-info login-button" %>
  </div>

</div>